.input{
    display: flex;
    align-items: center;
}

.card{
    align-items: center;
}

.titulo{
    padding-right: 40px;
}

.botonVerde{
width: 100px;
    background-color: greenyellow;
    margin-left: 20px;
}

.botonVerde:hover{
    background-color: rgb(148, 241, 8);
}

.botones{
    display: flex;
}